<?xml version="1.0" encoding="UTF-8"?>
<log4j:configuration>


	<!--Journalisation dans la console -->

	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} %5p [%c{1}]   %m %n" />
		</layout>
	</appender>

	<root>
		<priority value="debug"></priority>
		<appender-ref ref="stdout" />
	</root>
</log4j:configuration>