<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ExemplesCoursJavaWeb</display-name>
  <context-param>
    <param-name>type_db</param-name>
    <param-value>mysql</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>page/index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>GetServletInitParams</servlet-name>
    <servlet-class>com.servletparams.GetServletInitParams</servlet-class>
    <init-param>
      <param-name>param_test1</param-name>
      <param-value>Un paramètre  de test</param-value>
    </init-param>
  </servlet>
  <filter>
    <filter-name>log</filter-name>
    <filter-class>com.filter.LogginFilter</filter-class>
  </filter>
  <filter>
    <filter-name>security</filter-name>
    <filter-class>com.filter.SecurityFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>log</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>security</filter-name>
    <url-pattern>/back/*</url-pattern>
  </filter-mapping>
  <servlet-mapping>
    <servlet-name>GetServletInitParams</servlet-name>
    <url-pattern>/GetServletInitParams</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletEncodingUrl</display-name>
    <servlet-name>ServletEncodingUrl</servlet-name>
    <servlet-class>com.urlencoding.ServletEncodingUrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletEncodingUrl</servlet-name>
    <url-pattern>/ServletEncodingUrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestRedirect</display-name>
    <servlet-name>TestRedirect</servlet-name>
    <servlet-class>com.servletparams.TestRedirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestRedirect</servlet-name>
    <url-pattern>/TestRedirect</url-pattern>
  </servlet-mapping>
</web-app>